body {
  margin: 0;
  font-family: 'Kaushan Script', cursive;
  height: 100vh;
  background-image: url('./img/bread-color-copyspace-1565982.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
